* {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	background: linear-gradient(90deg,#00B9F2,#00FFFF,#00FFFF,#87CEFA);
	overflow-y: scroll;
}

.app {
	margin: auto;
	width: 70%;
}

.appTitle {
	text-align: center;
	padding: 30px 0;
}
.subTitle{
	font-size: 30px;
}
form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-control{
	padding: 20px;
	border-radius: 5px;
	font-size: 20px;
	background-color: #FFFFE0;
}
textarea{
	overflow-y: scroll;
}
button {
	padding: 20px;
	border-radius: 5px;
}

form button {
	background-color: blue;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

.essays-container {
	margin-top: 50px;
}

.essays-container h2 {
	margin: 15px 0;
}

.essay-card {
	background-color: #FFFFE0;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.essay-title{
	font-size: 34px;
}
.essay-body{
	font-size: 26px;
}
.delete-btn {
	margin-top: 30px;
	margin-left: 37.5%;
	background-color: red;
	color: #fff;
	padding: 15px 40px;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
}

@media (max-width: 500px) {
	.app {
		margin: auto;
		width: 90%;
	}
}